<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Requisition</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">List</li>
                </ul>
                <!-- <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn m-r-5">Create Requisition</a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <form (ngSubmit)="searchReq()" [formGroup]="inputForm">
        <div class="card mb-2" style="background-color: transparent">
            <div class="card-body p-3">
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-2 col-12">
                        <div class="form-group form-focus">
                            <input class="form-control floating" formControlName="creatorName" type="text" />
                            <label class="focus-label">Name</label>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
                        <div class="form-group form-focus">
                            <div class="cal-icon">
                                <input class="form-control floating datetimepicker" formControlName="executeDate"
                                    type="text" bsDatepicker />
                            </div>
                            <label class="focus-label">Date</label>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
                        <button class="btn btn-success btn-block" type="submit">
                            Search
                            <!-- [disabled]="!addEmployeeForm.valid" -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- /Search Filter -->

    <!-- list view start -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <a class="btn btn-outline-primary"><i class="fa fa-plus"></i> New &nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="d-flex justify-content-start pb-1"></div>
                        <table #requisitionGridListTable class="table table-striped custom-table datatable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- list view end -->
</div>
<!-- /Page Content -->


<!-- Delete Modal -->
<div class="modal custom-modal fade" id="delete_entity" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Item</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn" (click)="confirmDelete()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->


<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="medium" color="#667eea" type="ball-clip-rotate" [fullScreen]="false">
    <p style="color: black">Processing...</p>
</ngx-spinner>