.content {
	padding: 30px;
}

.content {
	padding: 30px;
}


/* ================= Default Template Color ================== */
xx-.form-control {
    border-color: #e3e3e3;
    box-shadow: none;
}

xx-.form-control:focus {
    border-color: #ccc;
    box-shadow: none;
    outline: 0 none;
}



/* ================= Purpale Color =========================== */
input.form-control, select.form-control, textarea.form-control {
	border-color: #667eea;
	border-left: 3px solid #667eea;
    box-shadow: none; 
}

.form-control:focus {
	border-color: #705CBA;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%); 
 }



/* ================= Green Color ============================= */
xx-input.form-control {
    border-color: #d4cdcd;
    border-left: 3px solid green;
    box-shadow: none; 
}

xx-.form-control:focus {
	border-color: #37a000;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%); 
 }

/* ================== Blue Color ============================== */
xx-input.form-control {
    border-color: #66afe9;
    border-left: 3px solid #66afe9;
    box-shadow: none; 
}

xx-.form-control:focus {
   border-color: #66afe9;
   outline: 0;
   -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
   box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%); 
}

.ng-select.custom-ng-select .ng-select-container {
    border-color: #667eea;
	border-left: 3px solid #667eea;
    box-shadow: none; 
    height: 43px;
}


.isDisabled {
    opacity: 0.5;
    pointer-events: none;
    color: #da0000;
    
}
.content {
	padding: 30px;
  /* font-size: 11px; */
}

.wrapper {
    cursor: not-allowed;
}
